<div class="media">
    <div class="media-body">
        <h4 class="media-heading">
        <%= link_to wiki.name, wiki %>
        </h4>
        <small>
            <%= wiki.description %>
        </small>
    </div>
</div>
