<h1>New Wiki</h1>

<div class="row">
  <div class="col-md-4">
    <h5>Guidelines for posts:</h5>
    <ul>
      <li>Post on true and factual information.</li>
      <li>Please source all information.</li>
      <li>If you post false information, you will be removed from the site.</li>
      <li>Feel free to use Markdown Syntax!</li>
        <ul>
          <li><a href="https://beegit.com/markdown-cheat-sheet" target="_blank">Click here for a refresher.</a></li>
        </ul>
    </ul>
    <hr>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form', locals: { wiki: @wiki } %>
  </div>
</div>
